@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);
.clearfix {
    *zoom: 1;
}
.clearfix:before, .clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}
.clearfix:after {
    clear: both;
}
/*aqui empieza el codigo*/
/*heroimg*/
#redes span {
    font-size: 25px;
    padding: 20px;
    background-color: #1C7A44;
    float: left;
    margin: 20px 10px 65px 5px;
    margin-bottom: 0px;
}
.redes_text p{
    margin-left: 77px;
}
.img_our img {
    width: 100%;
    background-color: #ffffff;
    padding: 20px 10px 30px 10px;
    border: 1px solid #F1F1F1;
    margin-top: 20px;
}
.img_our span {
    position: absolute;
    bottom: 5px;
    left: 28px;
    font-weight: bold;
}
#text_color {
    color: #34495e;
}
.pagination li a {
    border: 1px solid red;
    padding: 15px;
    background-color: #E74C3C;
}
.pagination li a span {
    position: absolute;
    top: 2px;
    color: #F5F5F5;
}
.piedetext {
    font-size: 14px;
    color: grey;
}
.piedetext-home {
    color: #ffffff;
}
.lorem_clients {
    text-align: left;
    padding: 5px 10px;
    margin-top: 5px;
    border-left: 5px solid white;
}
/*servics*/
.text_Servics i {
    background-color: #939393;
    padding: 25px;
    color: white;
    font-size: 28px;
    float: left;
    display: inline-block;
    margin-bottom: 0px;
    margin-right: 20px;
}
#color_auto {
    color: #34495E;
}
.title_servics {
    text-align: center;
    color: #34495E;
}
.clients_say {
    margin-top: 30px;
    box-shadow: -7px 0px 0px 0px #EEEEEE;
    padding-left: 10px;
}
/*CAAROUSEL*/
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
}
#carrusel {
    padding: 0px;
    margin-top: 37px;
}
.item {
    background-image: url(../images/slider/bg1.jpg);
    background-position: center;
    background-size: cover;
    height: 700px;
}
#img-2 {
    background-image: url(../images/slider/bg2.jpg);
}
#img-3 {
    background-image: url(../images/slider/bg3.jpg);
}
.text_b {
    color: white;
    padding-top: 300px;
}
.text-white {
    color: white;
}

/**************/
a {
    text-decoration: none;
}
/*aqui empieza el codigo*/
.fase2, .fase3, .primario {
    background-color: #F5F5F5;
}
.caja {
    width: 92%;
    background-color: white;
}
#barra_progres{
color: white;
    padding: 1.5% 4%;
    margin-top: 3%;
    border-radius: 5px 0 0px 5px;
}
.red {
    width: 85%;
    background-color: red;
    border-radius: 5px 0 0px 5px;
    box-shadow: 0 0px -10px 0px blue;
}
.green {
    width: 60%;
    background-color: green;
}
.blue {
    width: 40%;
    background-color: blue;
}
.sky {
    width: 50%;
    background-color: #00d9d9;
}
.orange {
    width: 70%;
    background-color: orange;
    margin-bottom: 10%;
}
.red, .green, .blue, .sky, .orange {
    text-align: center;
}
.fase3 h2, .fase3 p {
    text-align: center;
}
.parrafo2 {
    margin-bottom: 3%;
}
.img {
    border-radius: 110px;
    border: 5px solid white;
    margin-top: 2%;
}
.caja1 {
    text-align: center;
    margin-bottom: 20%;
}
/* BLOG */
 #title {
    background-color: #2ECC71;
 }
.img1 {
    width: 100%;
}
.entry-meta {
}
.blog {
    background-color: white;
    margin-top: 4%;
}
.blog-content h3, .blog-content .entry-meta, .blog-content p {
    padding-left: 3%;
}
button {
    margin-left: 3%;
    margin-bottom: 2%;
}
.blog-content p {
    margin-top: 2%;
}
.botones {
    margin-top: 2%;
    color: black;
    margin-bottom: 18%;
}
.btnfinal {
    background-color: white;
}
.btnfinal li a{
    color: black;
}
.btnfinal li a:hover {
    background-color: black;
    color: white;
}
.buscador form{
    margin-top: 9%;
}
#input_q {
    padding-left: 4%;
}
.cuadros {
    border-radius: 10px;
    margin-top: 4%;
    width: 45%;
}
.first {
    margin-right: 8%;
}
.categories {
    margin-top: 10%;
    margin-bottom: 5%;
}
.botoncillos{
    padding: 1% 2%;
    background-color: blue;
    margin-right: 1%;
    margin-bottom: 5%;
    color: white;
    border-radius: 5px;
}
.botones {
    width: 100%;
}
.mid {
    margin-bottom: 3%;
}
.parrafoblog a:hover {
    color: pink;
    text-decoration: none;
}
.maximo {
    font-size: 17px;
}
.minimo {
    font-size: 13px;
}
.cajilla {
    margin-left: 2%;
    margin-bottom: 10%;
}
.avatar{
    margin-left: 4%;
    float: left;
    border: 5px solid white;
    margin-top: 2%;
}
.titular {
    padding-top: 2%;
}
.blogger {
    background-color: #F5F5F5;
    width: 95%;
    margin-left: 3%;
    position: relative;
    top: -20px;
}
.titulocomentarios {
    padding-top: 5%;
    padding-bottom: 2%;
    margin-top: -10px;
    padding-left: 2%;
}
.comments {
    background-color: white;
    height: 230px;
}
.comments1 {
    background-color: white;
    height: 100px;
    padding-bottom: 20%;
}
.comments2 {
    background-color: white;
    height: 120px;
}
.comentarios {
    background-color: #F5F5F5;
    width: 88%;
    margin-left: 10%;
}
.avatares {
    float: left;
    margin-left: 2%;
    border-radius: 30px;
}
.replydatos {
    float: right;
    padding-right: 2%;
}
.pallentesque{
    padding-left: 2%;
    padding-bottom: 4%;
    padding-top: 2%;
}
.cajita {
    padding-top: 4%;
    padding-left: 2%;
}
.one {
    width: 76%;
    margin-left: 22%;
}
.photo {
    margin-left: 10%;
}
.segundo {
    margin-bottom: 5%;
}
.tercero {
    padding-bottom: 1%;
    margin-bottom: 0;
}
.leave {
    background-color: white;
    margin-bottom: 12%;
}
.leave p {
    font-size: 28px;
    margin-left: 3%;
}
.leave input {
    width: 90%;
    margin-left: 5%;
}
.leave textarea {
    width: 95%;
    margin-left: 2.5%;
}
.submit {
    margin: 0;
    margin-top: 1%;
}
.btnplus {
    margin-left: 3%;
    padding: 1% 2%;
    border-radius: 10px;
    background-color: red;
    border: none;
}
.entry-meta {
    padding-top: 10px;
}
/*MEET THE TEAM*/
#meet-the-team .designation {
  margin-top: 5px;
  display: block;
  font-size: 13px;
}
.btn-social {
  border: 0;
  color: #fff;
  border-radius: 100%;
  display: inline-block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  padding: 0;
}
.btn-social:hover {
  color: #fff;
}
.btn-social.btn-facebook {
  background: #4f7dd4;
}
.btn-social.btn-facebook:hover {
  background: #789bde;
}
.btn-social.btn-twitter {
  background: #5bceff;
}
.btn-social.btn-twitter:hover {
  background: #8eddff;
}
.btn-social.btn-linkedin {
  background: #21a6d8;
}
.btn-social.btn-linkedin:hover {
  background: #49b9e3;
}
.btn-social.btn-google-plus {
  background: #dc422b;
}
.btn-social.btn-google-plus:hover {
  background: #e36957;
}
.text-center small{
   color: gray;
   margin-bottom: 1%;
}
.text-center a{
   position: relative;
   left: -2%;
   margin-bottom: 2%;
}
.text-center .img-thumbnail {
    margin-top: 3%;
}
